<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :faculty_id %>
    <%= form.collection_select :faculty_id, Faculty.all, :id, :name %>
  </div>

    <div class="field">
    <% (1..4).each do |g| %>
        <%= form.radio_button :grade, g %>
        <%= form.label :grade, g.to_s + '年', value: g %>
        <span> / </span>
    <% end %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
