<h2><%= @datail.name %></h2>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>credit</th>
      <th>compulsory</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @datail.id %></td>
        <td><%= @datail.name %></td>
        <td><%= @datail.credit %></td>
        <td><%= @datail.compulsory %></td>
      </tr>
  </tbody>
</table>